name: umami-report

on:
  schedule:
    - cron: '30 17 * * *'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  umamiReportJob:
    name: umami report example
    runs-on: ubuntu-latest

    outputs:
      umami_page_views: ${{ steps.umamiReportStep.outputs.pageViews }}
      umami_report_file: ${{ steps.umamiReportStep.outputs.umamiReportFile }}
#      umami_report: ${{ steps.umamiReport.outputs.umamiReport }}
#      umami_one_line_report: ${{ steps.umamiReport.outputs.umamiOneLineReport }}
    steps:
      - name: Create Umami report
        id: umamiReportStep
        uses: boly38/action-umami-report@stable
        with:
          umami-server: ${{secrets.UMAMI_SERVER}}
          umami-user: ${{secrets.UMAMI_USERNAME}}
          umami-password: ${{secrets.UMAMI_PASSWORD}}
          umami-site-domain: ${{secrets.UMAMI_SIDE_DOMAIN}}
          umami-report-file: 'umamiReport.md'

      - name: Send Umami report to discord channel
        uses: appleboy/discord-action@master
        with:
          webhook_id: ${{ secrets.UMAMI_TO_DISCORD_WEBHOOK_ID }}
          webhook_token: ${{ secrets.UMAMI_TO_DISCORD_WEBHOOK_TOKEN }}
          color: "#48f442"
          username: "umami report"
          message: ${{ env.umamiOneLineReport }}

      - name: Have a look at !secret results from next step using env
        run: |
          echo "${{ env.umamiReportFile }}"
          ls -la "${{ env.umamiReportFile }}"

  nextJob:
    needs: umamiReport
    name: github action next job
    runs-on: ubuntu-latest
    steps:
      - name: print var
        run: |
          echo "FROM umamiReport outputs: ${{ needs.umamiReportJob.outputs.umami_report_file }} and ${{ needs.umamiReportJob.outputs.umami_page_views }} "
